@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #292b2c;
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  background-image: url("../img/sofiya-levchenko-166260-unsplash.jpg");
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  max-width: 100vw;
}

.card-header img{
  max-height: 100%vh;
  max-width: 100vw;
}

.card {
  box-shadow: 2px 2px 20px #050202;
}

.btn {
  background-color: lightgray;
}

/* menu-pagina */

#jtmenu {
  background-image: url("../img/pablo-merchan-montes-772142-unsplash.jpg");
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  max-width: 100%;
}

/* foto pagina */

.pagination a.page-link{
  background-color: #292b2c;
  color: white;
}

#jtfoto{
  background-image: url("../img/jumbotron\ foto.jpeg")
}